<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Adherence Demo</a>
      <ul class="nav">
        <li><a href="#/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <h1>Patients</h1>
  <table class="table table-striped">
     <thead>
    <tr>
      <th><h3>Patient Name</h3> </th>
      <th><h3>ID</h3></th>
    </tr>
  </thead>

    <tr ng-repeat="patient in patients">
    <td> <a ng-href="#/patients/{{patient.id}}">{{patient.name}}</a></td>
    <td> <a ng-href="#/patients/{{patient.id}}">{{patient.id}}</td>
   
</table>
</div>