<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Adherence Demo</a>
      <ul class="nav">
        <li><a href="#/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <h1>{{patient.name}}</h1>
  <button class="btn btn-primary pull-right" ng-click="newSurvey()">New Survey</button>
  <h2>Surveys</h2>
  <ul>
    <li ng-repeat="survey in surveys">
      <a ng-href="#/surveys/{{survey.id}}">{{survey.name}}</a>
    </li>
  </ul>
</div>