<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Adherence Demo</a>
      <ul class="nav">
        <li><a href="#/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <h1>Edit Survey</h1>
  <h2>{{survey.patient.name}}</h2>
  <h3>{{survey.name}}</h3>
  <form>
    <p>
      <label>Question 1</label>
      <input type="text" ng-model="survey.question1"></input>
    </p>
    <p>
      <button class="btn btn-primary" ng-click="update(survey)">Update Survey</button>
      <a ng-href="#/survey/{{survey.id}}" class="btn btn-warning">Cancel Survey</a>
    </p>
  </form>
  
</div>