<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Adherence Demo</a>
      <ul class="nav">
        <li><a href="#/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <button class="btn btn-primary" ng-click="edit()">Edit</button>
  <button class="btn btn-danger" ng-click="delete()">Delete</button>
  <a class="btn" ng-href="#/patients/{{survey.patient.id}}">Back</a>
  
  <h1>{{survey.patient.name}}</h1>
  <h2>{{survey.name}}</h2>
  <div class="well">
   <ol>
    <hr><li ng-repeat="question in questions">
        <b> {{question.name}}</b></br>
       <input class="calc" type="radio" ng-model="answer" value="0">  Yes 
       <input class="calc" type="radio" ng-model="answer" value="1"> No <hr/>
       </li>
    </hr>
   </ol>
    <button class="btn btn-primary" ng-click="calcScore()"> Calculate </button>
    <strong>Total Score: </strong><input type="text" name="sum"/>
    <button type="submit" class="btn btn-primary pull-right">
  <i class="icon-user icon-white"></i> Submit</button>
  </div>
</div>

   