<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Adherence Demo</a>
      <ul class="nav">
        <li><a href="#/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <h1>Edit Survey</h1>
  <h2>{{survey.patient.name}}</h2>
  <h3>{{survey.name}}</h3>
<div class="well">
 <form> 
   <ol>
    <hr><li ng-repeat="question in questions">
        <b> {{question.name}}</b></br>
       <input class="calc" type="radio" ng-model="answer" value="0">  Yes 
       <input class="calc" type="radio" ng-model="answer" value="1"> No <hr/>
       </li>
    </hr>
   </ol>
    <button class="btn btn-primary" ng-click="calcScore()"> Calculate </button>
    Total Score: <input type="text" name="sum"/></hr>
    <button class="btn btn-primary pull-right" ng-click="update(survey)">Update Survey</button>
    <a ng-href="#/survey/{{patient.id}}">
   </form>
  </div>