<h3>Adherence Survey</h3>

    <ol ng-repeat="survey in surveys">
     <h5>{{survey.question}}</h5>
       <input class="calc" type="radio" ng-model="answer" value="0">  YES <br/>
       <input class="calc" type="radio" ng-model="answer" value="1"> NO <br/>
       <tt>Value= {{answer}}</tt><br/>
   </ol>
   <button ng-click="calcScore()"> Calculate </button>
 		Total Score: <input type="text" name="sum"/>


 	<form ng-submit="addScore()">
        <input type="text" ng-model="score"  size="4"
     
        <input class="btn-primary" type="submit" value="add">
     		<a href="#/" class="btn">Cancel</a>
  	<button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
          class="btn btn-primary">Save</button>
  	<button ng-click="destroy()"
          ng-show="project._id" class="btn btn-danger">Delete</button>

	</form>
	</html>







    